In [44]:
import pandas as pd
import numpy as np
from pathlib import Path
import csv

DATA_PATH = Path('./data')
CATEGORY_MAPPING = 'category_mapping_utf8.csv'
CATEGORY_NEW = "category_new_utf8.csv"
pd.set_option('display.max_colwidth', None)

In [49]:
category_mapping_path = DATA_PATH / CATEGORY_MAPPING
category_new_path = DATA_PATH / CATEGORY_NEW

# 01 CATEGORY
### Todo List
1. 원래 카테고리 -> 새 카테고리가 가능하도록 매핑자료 만들기
    - 코드 기준

In [46]:
category_new_df = pd.read_csv(category_new_path, encoding="utf-8")
print(f'shape{category_new_df.shape}')
category_new_df.head(3)

shape(132, 4)

   Unnamed: 0 CAT_1   CAT_2 CAT_3
0           0  건강식품  건강기능식품   NaN
1           1  건강식품       꿀   NaN
2           2  건강식품      선식   NaN

In [47]:
category_new_df = category_new_df.drop(columns=["Unnamed: 0"], axis=1)

### 1. 원래 카테고리 -> 새 카테고리
- 코드 기준

In [50]:
category_mapping_df = pd.read_csv(category_mapping_path, encoding="utf-8")
print(f'shape{category_mapping_df.shape}')
category_mapping_df.head(5)

shape(322, 5)

   KAN_CODE CLS_NM_2 CLS_NM_3  CLS_NM_4  NEW_CODE
0   1150501     건강식품  간식/건강식품   어린이건강식품         0
1   1150301     건강식품   건강기능식품    건강기능식품         0
2   1150299     건강식품   건강보조식품  기타건강보조식품         0
3   1150201     건강식품   건강보조식품   홍삼/인삼제품         3
4   1159999     건강식품   기타건강식품    기타건강식품         0